@charset "UTF-8";


* {

  margin: 0px;
  padding: 0px;
}


body {
  height: auto;

}

header {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 2px 20px 20px 2px;
  position: fixed;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px black;
}

#lista-do-menu {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 20px;

}

.link-a:hover {
  background: red;
}

.link-a {
  text-decoration: none;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
}


.class-tabela {
  border: 1px solid black;
  width: auto;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}


td {
  border: 1px solid black;

}

.container {
  border: 1px solid orange;

}


.cmes {
  background-color: red;

}



footer {
  background-color: rgb(114, 189, 114);
  text-align: justify;
  border: 3px solid black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  border-top: 10px;
}